<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="subject attendance">
  <ion-content class="padding">
  	<div class="buttons" align-title="right">
    <button class="button" ng-click="local()">Push</button>
  </div>
    <ul class="list">
  <li class="item item-checkbox" ng-repeat="student in students">
     <label class="checkbox">
       <input type="checkbox" ng-model="student.active">
     </label>
     {{student.name}}
  </li>
</ul>
 <pre ng-bind="subjects | json"></pre> 
  </ion-content>
</ion-view>
